.crew-image {
  width: 285px;
  height: 300px;
}

.crew-card {
  border: 5px solid black;
  margin: 15px;
}

.crew-heading {
  text-align: center;
}

.crew-delete {
  margin: 0px 0px 10px 0px;
}

.close-crewCard {
  background-color: white;
}